.contact-section {
  margin: 0 auto;
  margin-top: 3.375rem;
}

.contact-container {
  max-width: 73.18175rem;
}

form {
  align-items: center;
}

.contact-header {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 0 24px;
}

.contact-header h2 {
  text-align: center;
}

.contact-form {
  position: relative;
  margin-top: 3.625rem;
  padding: 0 1.875rem;
}

.contact-input {
  font-size: 0.9375rem;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
}

input {
  height: 3rem;
  width: 100%;
  border: 1px solid #d0d9d4;
  margin-bottom: 1.5rem;
  font-style: italic;
  padding: 0.9375rem 1rem;
}

input:hover {
  border-color: var(--bg-primary);
}

input[type=text]:focus,
input[type=email]:focus {
  border: 1px solid var(--bg-primary);
  color: var(--text-dark);
  outline: none;
}

.message-box {
  width: 100%;
  height: 7.125rem;
  border: 1px solid var(--bg-primary);
  padding: 0.75rem;
  margin-bottom: 1.5rem;
}

textarea[type=text-area]:focus {
  border: 1px solid var(--bg-primary);
  color: var(--text-dark);
  outline: none;
}

.contact-form button {
  background-color: var(--bg-primary);
  cursor: pointer;
  font-size: 1.0625rem;
  border: none;
  border-radius: 4px;
  padding: 0.75rem;
  width: 8.0625rem;
}

.contact-form button:hover {
  background-color: var(--btn-hover);
  font-size: 1.2rem;
  transition: ease 0.5s;
}

.contact-form button:active {
  background-color: var(--bg-primary-dark);
}

.contact-section h4 {
  margin-top: 1.9375rem;
  font-size: 20px;
  line-height: 2rem;
  font-weight: 400;
}

.bg-frames {
  background-image: url("/assets/images/contact-form.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-position: 92% 100%;
  width: 92px;
  height: 100%;
  right: 0;
  bottom: 0;
}

@media only screen and (min-width: 1080px) {
  form {
    max-width: 86%;
    height: 20.625rem;
    align-items: normal;
  }

  input {
    height: 1.5rem;
  }

  .contact-section {
    display: flex;
    margin-top: 6.062rem;
    justify-content: center;
  }

  .contact-container {
    display: flex;
    height: 30.625rem;
    justify-content: space-between;
    width: 88%;
  }

  .contact-header {
    height: 50%;
    justify-content: center;
    align-items: center;
  }

  .contact-header h2 {
    width: 30rem;
    font-size: 30px;
    line-height: 52px;
    height: auto;
  }

  .contact-section h4 {
    visibility: hidden;
  }

  .contact-form {
    margin: 0;
    height: 100%;
    width: 86%;
    padding: 0;
  }

  .btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .bg-frames {
    position: absolute;
    background-image:
      url("/assets/images/contact-form-frame.svg"),
      url("/assets/images/contact-form-desktop-1.svg"),
      url("/assets/images/contact-form-desktop-2.svg");
    background-position:
      103% 100%,
      0% 100%,
      30% 90%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

@media only screen and (min-width: 1374px) {
  .contact-container {
    display: flex;
    height: 30.625rem;
  }
}
