html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--text-dark);
}

a {
  list-style: none;
  text-decoration: none;
  color: var(--text-dark);
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.h-screen {
  height: 100vh;
}

.h-4 {
  height: 3.75rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-content-center {
  align-content: center;
}

.align-items-center {
  align-items: center;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.leading-4 {
  line-height: 52px;
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-white {
  color: var(--text-white);
}

.text-dark {
  color: var(--text-dark);
}

.text-center {
  text-align: center;
}

.m-auto {
  margin: auto;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2.125rem;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-dark {
  background-color: var(--bg-dark);
}

.bg-white {
  background-color: var(--bg-white);
}

.gap {
  gap: 0.5rem;
}
