.hero-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0 27px;
  max-width: 920px;
}

.hero-title {
  margin-bottom: 0.9375rem;
  font-size: 2.5rem;
}

.hero-content {
  font-style: normal;
  margin-top: 5.1875rem;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;

  /* or 125% */
  text-align: center;
  letter-spacing: 0.37px;
}

.hero-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  /* or 140% */
  text-align: center;
}

.social-link {
  margin-top: 1.43rem;
  align-items: baseline;
}

.social-link li:not(:last-child) {
  margin-right: 1.1875rem;
}

.btn {
  transition: ease 0.5s;
  cursor: pointer;
}

.scroll-down {
  margin: 2.5rem 0;
}

.scroll-down .btn {
  width: 2.5rem;
  height: 2.5rem;
  background: var(--bg-white);
  padding: 0.5rem;
  border: 1px solid #dfe1e6;
  border-radius: 50%;
}

.btn:hover {
  background-color: var(--btn-hover);
  color: var(--text-white);
  font-size: 1.7em;
}

.btn:active {
  background-color: var(--bg-primary-dark);
}

@media only screen and (min-width: 768px) {
  .hero-content {
    margin-top: 11.625rem;
  }

  .hero-title {
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }

  .social-link {
    margin-top: 1.5rem;
  }

  .scroll-down {
    margin-top: 4.625rem;
    margin-bottom: 30rem;
  }
}
