@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url("theme.css");
@import url("global-styles.css");
@import url("nav-bar.css");
@import url("hero.css");

.hero-bg {
  position: absolute;
  background-image: url('../assets/images/header-bg-mobile.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@media only screen and (min-width: 768px) {
  .hero-bg {
    position: absolute;
    background-image: url('../assets/images/header-bg-desktop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 74rem;
    top: 0;
  }
}
