.nav-section {
  z-index: 10;
}

.nav-container {
  position: absolute;
  width: 32px;
  right: 0;
  z-index: 20;
  font-size: 30px;
  color: #67798e;
  font-weight: 400;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

.nav-container .menu-button {
  display: flex;
  height: 14px;
  width: 20px;
  top: 17px;
  left: 20px;
  z-index: 10;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .menu-button span {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background: #0e2451;
}

.nav-container .menu-button span:nth-of-type(1) {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .menu-button span:nth-of-type(2) {
  transition: transform 0.2s ease-in-out;
}

.nav-container .menu-button span:nth-last-of-type(1) {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .checked-1 {
  transform: rotate(45deg);
}

.nav-container .checked-2 {
  transform: scaleY(0);
}

.nav-container .checked-3 {
  transform: rotate(-45deg);
}

.nav-items {
  visibility: hidden;
  line-height: 1.25rem;
  font-size: 32px;
}

.nav-items a:not(:last-child) {
  margin-right: 20px;
}

.nav-toggle-show {
  visibility: visible;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100vh;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  justify-content: flex-start;
  padding-left: 2rem;
  padding-top: 2rem;
}

.nav-item-show {
  visibility: visible;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
  .nav-items {
    visibility: visible;
    line-height: 1.25rem;
    font-size: 0.9375rem;
  }
}

@media only screen and (min-width: 768px) {
  .nav-container {
    visibility: hidden;
  }
}

a .nav-toggle-show {
  font-size: 30px;
  color: #3a4a42;
  font-weight: 600;
}

.hidden {
  display: none;
}
