.work-section {
  position: relative;
  padding: 1.875rem 0;
}

.work-section .title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.underline {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 62px;
  width: 48px;
  height: 4px;
  background: var(--bg-primary);
}

.box {
  width: 20.4375rem;
  height: 26.6875rem;
  background: var(--bg-white);
  border: 1px solid #e1e1e1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 24px auto;
  transition: ease 1s;
}

/* .box:hover {
  scale: 1.1;
} */

.box-img {
  height: 340px;
  background: var(--bg-white);
  cursor: pointer;
}

.box-img:hover {
  scale: 1.02;
  border: 1px solid var(--bg-primary);
  transition: ease-out 0.3s;
}

.work-lists {
  display: grid;
  gap: 24px;
  column-gap: 24px;
  justify-content: center;
}

.details-modal-overlay {
  transition: opacity 0.15s ease-out;
  pointer-events: none;
  background-color: darkgrey;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 100;
}

.details-modal {
  border-radius: 0.5em;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 98%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  padding: 1rem 1rem;
  visibility: hidden;
  max-width: 820px;
}

.project-title {
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
}

.details-tags > ul li {
  background: #ebf0ee;
  padding: 8px 12px;
  margin-left: 0.34rem;
  color: #3a4a42;
}

.details-modal p {
  color: #344563;
  line-height: 24px;
  font-size: 16px;
}

.detail-img {
  width: 100%;
  border-radius: 18px;
  max-height: 420px;
}

.box-content {
  color: var(--text-dark);
  background-color: var(--bg-white);
  font-size: 12px;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
}

.box-content h2 {
  padding: 1rem;
  width: 295px;
  height: 57px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 32px;
}

.tags {
  margin-top: 2rem;
}

.box-content .tags li {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: var(--bg-white-1);
}

.btn {
  margin-top: 1.8125rem;
  margin-bottom: 1.5rem;
  background-color: var(--bg-primary);
  padding: 12px;
  font-size: 17px;
  border-radius: 4px;
  border: 0;
}

.detail-btn {
  padding: 12px 16px;
  border-radius: 4px;
  border: 0;
  background-color: var(--bg-primary);
  max-width: 156px;
  max-height: 48px;
  cursor: pointer;
}

.detail-btn:hover {
  background-color: var(--btn-hover);
  color: var(--text-white);
  font-size: 1.7em;
}

.detail-btn:active {
  background-color: var(--bg-primary-dark);
}

.detail-btn span {
  line-height: 24px;
  font-size: 17px;
}

.detail-btn .tag-name {
  margin-right: 16px;
}

.btn-close {
  right: 22px;
  top: 22px;
  cursor: pointer;
}

@media only screen and (min-width: 1090px) {
  .work-lists {
    grid-template-columns: repeat(3, 0fr);
    margin: 0 8.9735rem;
    row-gap: 32px;
  }

  .btn-close {
    right: 22px;
    top: -40px;
    cursor: pointer;
    border-radius: 8px;
  }

  .details-modal {
    padding: 5rem 1rem;
  }
}

@media only screen and (max-width: 1090px) and (min-width: 768px) {
  .work-lists {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    row-gap: 32px;
  }
}
