.work-section .title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.underline {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 62px;
  width: 48px;
  height: 4px;
  background: var(--bg-primary);
}

.box {
  width: 20.4375rem;
  height: 26.6875rem;
  background: var(--bg-white);
  border: 1px solid #e1e1e1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 24px auto;
}

.box-img {
  height: 340px;
  background: var(--bg-white);
}

.work-lists {
  display: grid;
  gap: 24px;
  column-gap: 24px;
}

.box-content {
  color: var(--text-dark);
  background-color: var(--bg-white);
  font-size: 12px;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
}

.box-content h2 {
  padding: 1rem;
  width: 295px;
  height: 57px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 32px;
}

.box-content .tags li {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: var(--bg-white-1);
}

.btn {
  margin-top: 1.8125rem;
  margin-bottom: 1.5rem;
  background-color: var(--bg-primary);
  padding: 12px;
  font-size: 17px;
  border-radius: 4px;
  border: 0;
}

@media only screen and (min-width: 1090px) {
  .work-lists {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 8.9735rem;
    row-gap: 32px;
  }
}

@media only screen and (max-width: 1090px) and (min-width: 768px) {
  .work-lists {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    row-gap: 32px;
  }
}
